name: xylophone
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.1
  # Use Audioplayers dependency version 0.17.
  # I instead added the version 6.5.1 because it is the latest one, and maybe I can work around it.
  audioplayers: ^6.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/

