name: quizzler
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.1
  #TODO: Step 1 - Add the rFlutter Alert package as a dependency here and use "Packages get".
  # By following instructions in https://pub.dev/packages/rflutter_alert we can do this easily
  rflutter_alert: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

